<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--Commands-->
    <register
        name="SendGreetings"
        type="HelloWorld.Core.ICommand, HelloWorld.Core"
			  mapTo="HelloWorld.StandardCommands.GreetCommand, HelloWorld.StandardCommands">
      <constructor>
        <param name="messageRepository" type="HelloWorld.Core.IMessageRepository, HelloWorld.Core">
          <dependency name="ConsoleRepository" />
        </param>
      </constructor>
    </register>

    <!--Repositories-->
    <register
      name="ConsoleRepository"
      type="HelloWorld.Core.IMessageRepository, HelloWorld.Core"
			mapTo="Host.ConsoleRepository, Host">
    </register>
    <register
      name="SQLRepository"
      type="HelloWorld.Core.IMessageRepository, HelloWorld.Core"
			mapTo="HelloWorld.Repositories.SQL.SQLMsgRepository, HelloWorld.Repositories.SQL">
    </register>
    <register
      name="FileRepository"
      type="HelloWorld.Core.IMessageRepository, HelloWorld.Core"
			mapTo="HelloWorld.Repositories.File.FileMsgRepository, HelloWorld.Repositories.File">
    </register>
  </container>
</unity>